.App {
  position: relative;
}
.draggable {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}
.box {
  display: flex; align-items: center; justify-content: center;
  width: 200px; height: 200px;
  color: #fff;
}
.box.red { background-color: red; }
.box.blue { background-color: blue; }
.box.green { background-color: green; }